In [0]:
#calculate 
1*9

9

**Display something**


```
First value:1

```

# My First Notebook 
**Let's write something**

In [0]:
'''
print a value
'''
print('Frist' value:)

**Calling a function `sort`**
1.Make a list of
'''
  Number=[4,3,2,1]
  '''
  2.      User the Function ''

In [0]:
Numbers=[4,3,2,1]
Numbers.sort()
print(Numbers)

[1, 2, 3, 4]